/* footer */
.todo-footer {
    position: fixed;
    top: 345px;
    width: 567px;
    height: 60px;
    line-height: 60px;
    padding-left: 6px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .todo-footer label {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .todo-footer label input {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-right: 4px;
  }
  
  .todo-footer .btn-danger {
    float: right;
    transform: translateX(-20px);
    margin-top: 15px;
  }
  .hidn {
    display: none;
  }